.idea/.gitignore
.idea/dizertacka.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/webResources.xml
.idea/inspectionProfiles/profiles_settings.xml
.ipynb_checkpoints/README-checkpoint.md
.vscode/settings.json
resources/Fall_2021_2/AISAT_multi_array.npy
resources/Fall_2021_2/ANIK_C1_R_B(PAM-D)_multi_array.npy
resources/Fall_2021_2/APEX_multi_array.npy
resources/Fall_2021_2/AQUA_multi_array.npy
resources/Fall_2021_2/ARABSAT_1B_R_B(PAM-D)_multi_array.npy
resources/Fall_2021_2/ARABSAT_5A_multi_array.npy
resources/Fall_2021_2/ARASE_(ERG)_multi_array.npy
resources/Fall_2021_2/ARIANE_1_DEB_multi_array.npy
resources/Fall_2021_2/ARIANE_2_DEB_multi_array.npy
resources/Fall_2021_2/ARIANE_2_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_3_DEB_multi_array.npy
resources/Fall_2021_2/ARIANE_3_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_5_DEB_(SPELTRA)_multi_array.npy
resources/Fall_2021_2/ARIANE_5_DEB_(SYLDA)_multi_array.npy
resources/Fall_2021_2/ARIANE_5_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_42L_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_42L+3_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_42P_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_44L_DEB_(SPELDA)_multi_array.npy
resources/Fall_2021_2/ARIANE_44L_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_44L+_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_44LP_DEB_(SPELDA)_multi_array.npy
resources/Fall_2021_2/ARIANE_44LP_DEB_multi_array.npy
resources/Fall_2021_2/ARIANE_44LP_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_44LP+_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_44P_R_B_multi_array.npy
resources/Fall_2021_2/ARIANE_44P+3_R_B_multi_array.npy
resources/Fall_2021_2/ASC_1_R_B(PAM-D)_multi_array.npy
resources/Fall_2021_2/ASIASAT_2_PKM_multi_array.npy
resources/Fall_2021_2/ASIASAT_4_multi_array.npy
resources/Fall_2021_2/ASTRA_2B_multi_array.npy
resources/Fall_2021_2/ASTRA_2D_multi_array.npy
resources/Fall_2021_2/ASTRA_2E_multi_array.npy
resources/Fall_2021_2/ASTRID_2_multi_array.npy
resources/Fall_2021_2/ATLAS_1_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_2_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_2A_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_2A_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_2AS_CENTAUR_R_B_(NOSS_3-1r)_multi_array.npy
resources/Fall_2021_2/ATLAS_2AS_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_3B_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_3B_CENTAUR_R_B_NOSS_3-3_r_multi_array.npy
resources/Fall_2021_2/ATLAS_5_CENTAUR_DEB_multi_array.npy
resources/Fall_2021_2/ATLAS_5_CENTAUR_R_B_FIA_Radar_3_r_multi_array.npy
resources/Fall_2021_2/ATLAS_5_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_5_CENTAUR_R_B_NOSS_3-4_r_multi_array.npy
resources/Fall_2021_2/ATLAS_55E_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_75E_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_CENTAUR_2_DEB_multi_array.npy
resources/Fall_2021_2/ATLAS_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/ATLAS_V_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/AURORA_2_R_B(PAM-D)_multi_array.npy
resources/Fall_2021_2/AVUM_R_B_multi_array.npy
resources/Fall_2021_2/AZERSPACE_2_INTELSAT_38_multi_array.npy
resources/Fall_2021_2/BEIDOU_M5_multi_array.npy
resources/Fall_2021_2/BLOCK_DM-SL_R_B_multi_array.npy
resources/Fall_2021_2/BRAZILSAT_B2_multi_array.npy
resources/Fall_2021_2/BREEZE-M_R_B_multi_array.npy
resources/Fall_2021_2/CAPELLA-6_multi_array.npy
resources/Fall_2021_2/CBERS_2_multi_array.npy
resources/Fall_2021_2/CFOSAT_multi_array.npy
resources/Fall_2021_2/CHINASAT-18_multi_array.npy
resources/Fall_2021_2/CHUANG_XIN_1_(CZ-1)_multi_array.npy
resources/Fall_2021_2/CLEMENTINE_multi_array.npy
resources/Fall_2021_2/COBE_multi_array.npy
resources/Fall_2021_2/COMETS_multi_array.npy
resources/Fall_2021_2/CORIOLIS_multi_array.npy
resources/Fall_2021_2/CRRES_multi_array.npy
resources/Fall_2021_2/CZ-2C_DEB_(SMA_stage)_multi_array.npy
resources/Fall_2021_2/CZ-2C_R_B_(SpaB-140C)_multi_array.npy
resources/Fall_2021_2/CZ-2C_R_B_multi_array.npy
resources/Fall_2021_2/CZ-2D_R_B_multi_array.npy
resources/Fall_2021_2/CZ-2F_R_B_multi_array.npy
resources/Fall_2021_2/CZ-3_R_B_multi_array.npy
resources/Fall_2021_2/CZ-3A_DEB_multi_array.npy
resources/Fall_2021_2/CZ-3A_R_B_multi_array.npy
resources/Fall_2021_2/CZ-3B_DEB_multi_array.npy
resources/Fall_2021_2/CZ-3B_R_B_multi_array.npy
resources/Fall_2021_2/CZ-3C_DEB_(VEB)_multi_array.npy
resources/Fall_2021_2/CZ-3C_DEB_multi_array.npy
resources/Fall_2021_2/CZ-3C_R_B_multi_array.npy
resources/Fall_2021_2/CZ-4_DEB_multi_array.npy
resources/Fall_2021_2/CZ-4_R_B_multi_array.npy
resources/Fall_2021_2/CZ-4C_R_B_multi_array.npy
resources/Fall_2021_2/CZ-5_R_B_multi_array.npy
resources/Fall_2021_2/CZ-6_R_B_multi_array.npy
resources/Fall_2021_2/CZ-11_DEB_multi_array.npy
resources/Fall_2021_2/CZ-11_R_B_multi_array.npy
resources/Fall_2021_2/DASH_VEP_3_multi_array.npy
resources/Fall_2021_2/DELTA_1_DEB_multi_array.npy
resources/Fall_2021_2/DELTA_1_R_B_multi_array.npy
resources/Fall_2021_2/DELTA_1_R_B(1)_multi_array.npy
resources/Fall_2021_2/DELTA_1_R_B(2)_multi_array.npy
resources/Fall_2021_2/DELTA_2_R_B_multi_array.npy
resources/Fall_2021_2/DELTA_2_R_B(1)_multi_array.npy
resources/Fall_2021_2/DELTA_2_R_B(2)_(PAM-D)_multi_array.npy
resources/Fall_2021_2/DELTA_2_R_B(2)_multi_array.npy
resources/Fall_2021_2/DELTA_4_R_B_multi_array.npy
resources/Fall_2021_2/DFS_1_multi_array.npy
resources/Fall_2021_2/DM-F3_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F8_(USA_26)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F9_(USA_29)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F11_(USA_73)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F11_DEB_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F12_(USA_106)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F12_DEB_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F13_DEB_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F14_DEB_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F15_(USA_147)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-2_F15_DEB_multi_array.npy
resources/Fall_2021_2/DMSP_5D-3_F16_DEB_multi_array.npy
resources/Fall_2021_2/DMSP_5D-3_F17_(USA_191)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-3_F18_(USA_210)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-3_F18_DEB_multi_array.npy
resources/Fall_2021_2/DMSP_5D-3_F19_(USA_249)_multi_array.npy
resources/Fall_2021_2/DMSP_5D-3_F19_DEB_multi_array.npy
resources/Fall_2021_2/DODECAPOLE_2_DEB_multi_array.npy
resources/Fall_2021_2/DODECAPOLE_2_multi_array.npy
resources/Fall_2021_2/DOUBLESTAR_(TC-2)_multi_array.npy
resources/Fall_2021_2/DSX_multi_array.npy
resources/Fall_2021_2/DYNAMICS_EXPLORER_1_multi_array.npy
resources/Fall_2021_2/ECHOSTAR_1_PKM_multi_array.npy
resources/Fall_2021_2/ECHOSTAR_5_multi_array.npy
resources/Fall_2021_2/EGS_(AJISAI)_multi_array.npy
resources/Fall_2021_2/EGYPTSAT_A_multi_array.npy
resources/Fall_2021_2/ELECTRON_KICK_STAGE_R_B_multi_array.npy
resources/Fall_2021_2/ELECTRON_R_B_multi_array.npy
resources/Fall_2021_2/EPSILON_R_B_multi_array.npy
resources/Fall_2021_2/ESA_GEOS_multi_array.npy
resources/Fall_2021_2/ESEO_multi_array.npy
resources/Fall_2021_2/ETS_6_multi_array.npy
resources/Fall_2021_2/EUCROPIS_multi_array.npy
resources/Fall_2021_2/EUTE_3B_multi_array.npy
resources/Fall_2021_2/EUTE_21B_multi_array.npy
resources/Fall_2021_2/EUTE_25B_multi_array.npy
resources/Fall_2021_2/EUTE_28A_(EB_1)_multi_array.npy
resources/Fall_2021_2/EUTE_33A_(EB_3)_multi_array.npy
resources/Fall_2021_2/EUTE_36A_(EUTE_W4)_multi_array.npy
resources/Fall_2021_2/EUTE_115_WEST_A(SATMEX_5_multi_array.npy
resources/Fall_2021_2/EUTE_HOT_BIRD_13B_(HB_8)_multi_array.npy
resources/Fall_2021_2/EUTELSAT_W3B_multi_array.npy
resources/Fall_2021_2/EXOS_D_(AKEBONO)_multi_array.npy
resources/Fall_2021_2/EYESAT_A_multi_array.npy
resources/Fall_2021_2/FAISAT_2V_multi_array.npy
resources/Fall_2021_2/FALCON_9_DEB_multi_array.npy
resources/Fall_2021_2/FALCON_9_R_B_multi_array.npy
resources/Fall_2021_2/FALCON_DEB_multi_array.npy
resources/Fall_2021_2/FALCON_HEAVY_R_B_multi_array.npy
resources/Fall_2021_2/FAST_multi_array.npy
resources/Fall_2021_2/FEDSAT_multi_array.npy
resources/Fall_2021_2/FENGYUN_1C_DEB_multi_array.npy
resources/Fall_2021_2/FENGYUN_1C_multi_array.npy
resources/Fall_2021_2/FENGYUN_3B_multi_array.npy
resources/Fall_2021_2/FENGYUN_3C_multi_array.npy
resources/Fall_2021_2/FENGYUN_3D_multi_array.npy
resources/Fall_2021_2/FLOCK_1C_2_multi_array.npy
resources/Fall_2021_2/FLOCK_1C_5_multi_array.npy
resources/Fall_2021_2/FLOCK_1C_9_multi_array.npy
resources/Fall_2021_2/FLOCK_1C_10_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_01_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_02_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_13_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_20_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_22_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_26_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_28_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_33_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_38_multi_array.npy
resources/Fall_2021_2/FLOCK_2K_48_multi_array.npy
resources/Fall_2021_2/FLOCK_2P_1_multi_array.npy
resources/Fall_2021_2/FLOCK_2P_4_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_1_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_9_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_17_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_22_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_24_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_29_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_44_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_48_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_51_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_53_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_71_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_73_multi_array.npy
resources/Fall_2021_2/FLOCK_3P_78_multi_array.npy
resources/Fall_2021_2/FLOCK_3R_2_multi_array.npy
resources/Fall_2021_2/FLOCK_3R_15_multi_array.npy
resources/Fall_2021_2/FLOCK_3S_3_multi_array.npy
resources/Fall_2021_2/FLOCK_4A_8_multi_array.npy
resources/Fall_2021_2/FLOCK_4A_10_multi_array.npy
resources/Fall_2021_2/FLOCK_4A_14_multi_array.npy
resources/Fall_2021_2/FLOCK_4P_8_multi_array.npy
resources/Fall_2021_2/FREGAT_DEB___multi_array.npy
resources/Fall_2021_2/GALAXY_11_multi_array.npy
resources/Fall_2021_2/GALAXY_27_(TELSTAR_7)_multi_array.npy
resources/Fall_2021_2/GCOM_W1_multi_array.npy
resources/Fall_2021_2/GCOM-C_multi_array.npy
resources/Fall_2021_2/GGSE_5_multi_array.npy
resources/Fall_2021_2/GIOVE-B_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M001_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M003_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M006_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M014_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M015_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M019_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M022_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M023_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M026_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M027_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M028_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M031_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M032_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M034_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M038_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M039_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M040_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M042_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M044_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M045_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M047_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M049_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M051_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M052_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M053_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M056_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M057_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M059_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M060_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M062_multi_array.npy
resources/Fall_2021_2/GLOBALSTAR_M063_multi_array.npy
resources/Fall_2021_2/GOERGEN_multi_array.npy
resources/Fall_2021_2/GPM_multi_array.npy
resources/Fall_2021_2/GSLV_R_B_multi_array.npy
resources/Fall_2021_2/H-1_R_B(1)_multi_array.npy
resources/Fall_2021_2/H-2_R_B_multi_array.npy
resources/Fall_2021_2/H-2_R_B(2)_multi_array.npy
resources/Fall_2021_2/H-2A_DEB_multi_array.npy
resources/Fall_2021_2/H-2A_R_B_multi_array.npy
resources/Fall_2021_2/H-2A_R_B(2)_multi_array.npy
resources/Fall_2021_2/HAIYANG_2A_multi_array.npy
resources/Fall_2021_2/HAIYANG_2B_multi_array.npy
resources/Fall_2021_2/HAIYANG_2C_multi_array.npy
resources/Fall_2021_2/HAIYANG_2D_multi_array.npy
resources/Fall_2021_2/HALCA_(MUSES_B)_multi_array.npy
resources/Fall_2021_2/HAMSAT_multi_array.npy
resources/Fall_2021_2/HAPS_R_B_STPSat_2_HAPS_multi_array.npy
resources/Fall_2021_2/HEALTHSAT_1_multi_array.npy
resources/Fall_2021_2/HODOYOSHI_3_multi_array.npy
resources/Fall_2021_2/IGS-O_1-2_(IGS_3A)_multi_array.npy
resources/Fall_2021_2/IGS-O_2-1_(IGS_5A)_multi_array.npy
resources/Fall_2021_2/IMAGE_multi_array.npy
resources/Fall_2021_2/IMS-1_multi_array.npy
resources/Fall_2021_2/INMARSAT_2-F2_R_B(PAM-D)_multi_array.npy
resources/Fall_2021_2/INMARSAT_2-F4_multi_array.npy
resources/Fall_2021_2/INTELSAT_2-F1_multi_array.npy
resources/Fall_2021_2/INTELSAT_33E_multi_array.npy
resources/Fall_2021_2/INTELSAT_512_multi_array.npy
resources/Fall_2021_2/INTELSAT_702_multi_array.npy
resources/Fall_2021_2/IRAS_multi_array.npy
resources/Fall_2021_2/IRIDIUM_5_multi_array.npy
resources/Fall_2021_2/IRIDIUM_17_multi_array.npy
resources/Fall_2021_2/IRIDIUM_28_multi_array.npy
resources/Fall_2021_2/IRIDIUM_33_DEB_multi_array.npy
resources/Fall_2021_2/IRIDIUM_33_multi_array.npy
resources/Fall_2021_2/IRIDIUM_38_multi_array.npy
resources/Fall_2021_2/IRIDIUM_44_multi_array.npy
resources/Fall_2021_2/IRIDIUM_57_multi_array.npy
resources/Fall_2021_2/IRIDIUM_73_multi_array.npy
resources/Fall_2021_2/IRIDIUM_90_multi_array.npy
resources/Fall_2021_2/IRIDIUM_91_DEB_multi_array.npy
resources/Fall_2021_2/IRIDIUM_96_multi_array.npy
resources/Fall_2021_2/IRIDIUM_911_multi_array.npy
resources/Fall_2021_2/IRIDIUM_914_multi_array.npy
resources/Fall_2021_2/IRIDIUM_920_multi_array.npy
resources/Fall_2021_2/IRNSS_1H_PSLV_multi_array.npy
resources/Fall_2021_2/IRS_B3_multi_array.npy
resources/Fall_2021_2/IRS_P4_(OCEANSAT_1)_multi_array.npy
resources/Fall_2021_2/ISIS_1_DEB_multi_array.npy
resources/Fall_2021_2/ISON_47601___multi_array.npy
resources/Fall_2021_2/IUS_R_B(1)_multi_array.npy
resources/Fall_2021_2/IUS_R_B(2)_multi_array.npy
resources/Fall_2021_2/JB-3_A_multi_array.npy
resources/Fall_2021_2/JB-3_C_multi_array.npy
resources/Fall_2021_2/KZ-1_A_R_B_multi_array.npy
resources/Fall_2021_2/KZ-1A_R_B_multi_array.npy
resources/Fall_2021_2/LAGEOS_1_AKM_multi_array.npy
resources/Fall_2021_2/LAGEOS_2_AKM_(MAGE_1S)_multi_array.npy
resources/Fall_2021_2/LAGEOS_2_multi_array.npy
resources/Fall_2021_2/LANDSAT_4_multi_array.npy
resources/Fall_2021_2/LEASAT_1_PKM_multi_array.npy
resources/Fall_2021_2/LEASAT_2_PKM_multi_array.npy
resources/Fall_2021_2/LEASAT_4_PKM_multi_array.npy
resources/Fall_2021_2/LEASAT_5_PKM_(SSUS-A)_multi_array.npy
resources/Fall_2021_2/LEMUR_2_SATCHMO_multi_array.npy
resources/Fall_2021_2/LEMUR_2_ZACHARY_multi_array.npy
resources/Fall_2021_2/LIGHTSAIL-A_multi_array.npy
resources/Fall_2021_2/LINCS2_multi_array.npy
resources/Fall_2021_2/M-5_R_B_multi_array.npy
resources/Fall_2021_2/MAQSAT_ARIANE_5_multi_array.npy
resources/Fall_2021_2/MAQSAT_B_multi_array.npy
resources/Fall_2021_2/MAROC_TUBSAT_multi_array.npy
resources/Fall_2021_2/MDS_1_multi_array.npy
resources/Fall_2021_2/MESHBED_multi_array.npy
resources/Fall_2021_2/METEOSAT_8_(MSG_1)_multi_array.npy
resources/Fall_2021_2/METEOSAT_11_(MSG_4)_multi_array.npy
resources/Fall_2021_2/METOP-A_multi_array.npy
resources/Fall_2021_2/METOP-B_multi_array.npy
resources/Fall_2021_2/MICRODRAGON_multi_array.npy
resources/Fall_2021_2/MICROMAS_2A_multi_array.npy
resources/Fall_2021_2/MIDAS_3_DEB_multi_array.npy
resources/Fall_2021_2/MIDAS_3_multi_array.npy
resources/Fall_2021_2/MIDAS_4_multi_array.npy
resources/Fall_2021_2/MIDAS_6_(FTV_1169)_multi_array.npy
resources/Fall_2021_2/MIDAS_7_multi_array.npy
resources/Fall_2021_2/MINOTAUR_4_R_B_multi_array.npy
resources/Fall_2021_2/MINOTAUR_R_B_multi_array.npy
resources/Fall_2021_2/MUOS_5_multi_array.npy
resources/Fall_2021_2/N-2_R_B(2)_multi_array.npy
resources/Fall_2021_2/NANOSAT(1)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_9_(USA_1)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_14_(USA_38)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_20_(USA_63)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_21_(USA_64)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_24_(USA_79)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_26_(USA_83)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_27_(USA_84)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_29_(USA_87)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_30_(USA_88)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_32_(USA_91)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_33_(USA_92)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_36_(USA_100)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_37_(USA_117)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_38_(USA_126)_multi_array.npy
resources/Fall_2021_2/NAVSTAR_78_(USA_293)_multi_array.npy
resources/Fall_2021_2/NIMBUS_4_multi_array.npy
resources/Fall_2021_2/NIMBUS_6_multi_array.npy
resources/Fall_2021_2/NIMBUS_7_multi_array.npy
resources/Fall_2021_2/NOAA_2_(ITOS-D)_multi_array.npy
resources/Fall_2021_2/NOAA_3_multi_array.npy
resources/Fall_2021_2/NOAA_4_multi_array.npy
resources/Fall_2021_2/NOAA_6_multi_array.npy
resources/Fall_2021_2/NOAA_7_DEB_multi_array.npy
resources/Fall_2021_2/NOAA_8_multi_array.npy
resources/Fall_2021_2/NOAA_10_multi_array.npy
resources/Fall_2021_2/NOAA_11_DEB_multi_array.npy
resources/Fall_2021_2/NOAA_11_multi_array.npy
resources/Fall_2021_2/NOAA_12_DEB_multi_array.npy
resources/Fall_2021_2/NOAA_12_multi_array.npy
resources/Fall_2021_2/NOAA_13_multi_array.npy
resources/Fall_2021_2/NOAA_14_DEB_multi_array.npy
resources/Fall_2021_2/NOAA_14_multi_array.npy
resources/Fall_2021_2/NOAA_16_DEB_multi_array.npy
resources/Fall_2021_2/NOAA_16_multi_array.npy
resources/Fall_2021_2/NOAA_17_multi_array.npy
resources/Fall_2021_2/NOAA_19_multi_array.npy
resources/Fall_2021_2/NoName___multi_array.npy
resources/Fall_2021_2/NoName_multi_array.npy
resources/Fall_2021_2/OBJECT_AV_multi_array.npy
resources/Fall_2021_2/OBJECT_B_multi_array.npy
resources/Fall_2021_2/OBJECT_G_multi_array.npy
resources/Fall_2021_2/OBJECT_K_multi_array.npy
resources/Fall_2021_2/OBJECT_M_multi_array.npy
resources/Fall_2021_2/OPS_1920_multi_array.npy
resources/Fall_2021_2/OPS_2644_multi_array.npy
resources/Fall_2021_2/OPS_4467_A_(DMSP_Block_1)_multi_array.npy
resources/Fall_2021_2/OPS_4682_DEB_multi_array.npy
resources/Fall_2021_2/OPS_4988_DEB_multi_array.npy
resources/Fall_2021_2/OPS_5112_(NAVSTAR_2)_multi_array.npy
resources/Fall_2021_2/OPS_5390_multi_array.npy
resources/Fall_2021_2/OPS_5644_multi_array.npy
resources/Fall_2021_2/OPS_5721_multi_array.npy
resources/Fall_2021_2/OPS_5805_multi_array.npy
resources/Fall_2021_2/OPS_6226_multi_array.npy
resources/Fall_2021_2/OPS_7323_(DMSP_5B_F3)_multi_array.npy
resources/Fall_2021_2/OPS_7724_multi_array.npy
resources/Fall_2021_2/OPS_7940_multi_array.npy
resources/Fall_2021_2/OPS_8364_(DMSP_5B_F4)_multi_array.npy
resources/Fall_2021_2/OPS_9845_(DMSP_5D-2_F6)_multi_array.npy
resources/Fall_2021_2/OPTUS_A2_R_B(PAM-D)_multi_array.npy
resources/Fall_2021_2/OPTUS_B1_R_B(STAR_63F)_multi_array.npy
resources/Fall_2021_2/OPTUS_B3_multi_array.npy
resources/Fall_2021_2/OPTUS_B3_PKM_multi_array.npy
resources/Fall_2021_2/ORBCOMM_FM_3_multi_array.npy
resources/Fall_2021_2/ORBCOMM_FM_16_DEB_multi_array.npy
resources/Fall_2021_2/ORBWEAVER_1_multi_array.npy
resources/Fall_2021_2/ORION_3_multi_array.npy
resources/Fall_2021_2/OSCAR_3_multi_array.npy
resources/Fall_2021_2/OSCAR_14_(UOSAT_3)_multi_array.npy
resources/Fall_2021_2/OSCAR_22_(UoSAT_5)_multi_array.npy
resources/Fall_2021_2/OSCAR_23_DEB_multi_array.npy
resources/Fall_2021_2/OSCAR_30_DEB_multi_array.npy
resources/Fall_2021_2/OSCAR_36_(UOSAT_12)_multi_array.npy
resources/Fall_2021_2/P_L_153_DEB_multi_array.npy
resources/Fall_2021_2/PEGASUS_R_B_multi_array.npy
resources/Fall_2021_2/PHOTON-02_multi_array.npy
resources/Fall_2021_2/PICARD_multi_array.npy
resources/Fall_2021_2/POLAR_multi_array.npy
resources/Fall_2021_2/POLAR_SCOUT_YUKON_multi_array.npy
resources/Fall_2021_2/PORCUPINE_2_multi_array.npy
resources/Fall_2021_2/PSLV_DEB_multi_array.npy
resources/Fall_2021_2/PSLV_R_B_multi_array.npy
resources/Fall_2021_2/QUANTUTONG_1_multi_array.npy
resources/Fall_2021_2/RAPIS-1_multi_array.npy
resources/Fall_2021_2/RELAY_1_(A-15)_multi_array.npy
resources/Fall_2021_2/RELAY_2_multi_array.npy
resources/Fall_2021_2/REMDEB-NET_multi_array.npy
resources/Fall_2021_2/RHESSI_multi_array.npy
resources/Fall_2021_2/SAFIR_2_multi_array.npy
resources/Fall_2021_2/SATCOM_K1_R_B(PAM-D2)_multi_array.npy
resources/Fall_2021_2/SATCOM_K2_R_B(PAM-D2)_multi_array.npy
resources/Fall_2021_2/SAUDIGEOSAT1_HELLASSAT4_multi_array.npy
resources/Fall_2021_2/SBS_3_multi_array.npy
resources/Fall_2021_2/SCATSAT_1_multi_array.npy
resources/Fall_2021_2/SCOUT_X-4_DEB_multi_array.npy
resources/Fall_2021_2/SEASAT_1_DEB_multi_array.npy
resources/Fall_2021_2/SERVIS_2_multi_array.npy
resources/Fall_2021_2/SHIYUAN_2_(SY-2)_multi_array.npy
resources/Fall_2021_2/SHIYUAN_4_multi_array.npy
resources/Fall_2021_2/SICRAL_1_multi_array.npy
resources/Fall_2021_2/SICRAL_1B_multi_array.npy
resources/Fall_2021_2/SINAH_1_multi_array.npy
resources/Fall_2021_2/SJ-6A_multi_array.npy
resources/Fall_2021_2/SJ-7_multi_array.npy
resources/Fall_2021_2/SKYNET_4C_multi_array.npy
resources/Fall_2021_2/SKYNET_5B_multi_array.npy
resources/Fall_2021_2/SMAP_multi_array.npy
resources/Fall_2021_2/SPARK_1_multi_array.npy
resources/Fall_2021_2/SPARK_2_multi_array.npy
resources/Fall_2021_2/SPRITE-SAT_(RISING)_multi_array.npy
resources/Fall_2021_2/SPROUT_multi_array.npy
resources/Fall_2021_2/SSETI-EXPRESS_multi_array.npy
resources/Fall_2021_2/STTW-5_multi_array.npy
resources/Fall_2021_2/STTW-T1_multi_array.npy
resources/Fall_2021_2/SUNSAT_multi_array.npy
resources/Fall_2021_2/TACSAT_4_multi_array.npy
resources/Fall_2021_2/TAURUS-1_multi_array.npy
resources/Fall_2021_2/TELECOM_2B_multi_array.npy
resources/Fall_2021_2/TELKOM_3_multi_array.npy
resources/Fall_2021_2/THOR_ABLESTAR_DEB_multi_array.npy
resources/Fall_2021_2/THORAD_AGENA_D_DEB_multi_array.npy
resources/Fall_2021_2/THORAD_DELTA_1_DEB_multi_array.npy
resources/Fall_2021_2/TIROS_N_multi_array.npy
resources/Fall_2021_2/TITAN_3A_TRANSTAGE_R_B_multi_array.npy
resources/Fall_2021_2/TITAN_3C_TRANSTAGE_R_B_multi_array.npy
resources/Fall_2021_2/TITAN_4B_CENTAUR_R_B_multi_array.npy
resources/Fall_2021_2/TITAN_34B_AGENA_D_DEB_multi_array.npy
resources/Fall_2021_2/TITAN_34B_AGENA_D_R_B_multi_array.npy
resources/Fall_2021_2/TITAN_34B_R_B_multi_array.npy
resources/Fall_2021_2/TITAN_34D_TRANSTAGE_DEB_multi_array.npy
resources/Fall_2021_2/TITAN_34D_TRANSTAGE_R_B_multi_array.npy
resources/Fall_2021_2/TMSAT_multi_array.npy
resources/Fall_2021_2/TRANSIT_5B-2_multi_array.npy
resources/Fall_2021_2/TRANSIT_18_DEB_multi_array.npy
resources/Fall_2021_2/TRANSIT_20_DEB_multi_array.npy
resources/Fall_2021_2/TURKSAT_3A_multi_array.npy
resources/Fall_2021_2/TZINGHUA_1_multi_array.npy
resources/Fall_2021_2/UME_1_(ISS_1)_multi_array.npy
resources/Fall_2021_2/UNHA_3_R_B_multi_array.npy
resources/Fall_2021_2/UNIFORM_1_multi_array.npy
resources/Fall_2021_2/UNISAT_6_multi_array.npy
resources/Fall_2021_2/UPM_LBSAT_multi_array.npy
resources/Fall_2021_2/USA_15_multi_array.npy
resources/Fall_2021_2/USA_21_multi_array.npy
resources/Fall_2021_2/USA_32_multi_array.npy
resources/Fall_2021_2/USA_59_(NOSS_2-1_(A)__)_multi_array.npy
resources/Fall_2021_2/USA_67_R_B(2)_multi_array.npy
resources/Fall_2021_2/USA_72_multi_array.npy
resources/Fall_2021_2/USA_81_multi_array.npy
resources/Fall_2021_2/USA_119_multi_array.npy
resources/Fall_2021_2/USA_122_(NOSS_2-3_(D)__)_multi_array.npy
resources/Fall_2021_2/USA_125_DEB_multi_array.npy
resources/Fall_2021_2/USA_142_multi_array.npy
resources/Fall_2021_2/USA_143_(Milstar_3__)_multi_array.npy
resources/Fall_2021_2/USA_164_multi_array.npy
resources/Fall_2021_2/USA_179_multi_array.npy
resources/Fall_2021_2/USA_181_DEB_(NOSS_3-3_(C)__)_multi_array.npy
resources/Fall_2021_2/USA_194_DEB_(NOSS_3-4_(C)__)_multi_array.npy
resources/Fall_2021_2/USA_198_(SDS_3F5__)_multi_array.npy
resources/Fall_2021_2/USA_202_multi_array.npy
resources/Fall_2021_2/USA_225_multi_array.npy
resources/Fall_2021_2/USA_229_(NOSS_3-5_(A)__)_multi_array.npy
resources/Fall_2021_2/USA_238_(NOSS_3-6_(A)__)_multi_array.npy
resources/Fall_2021_2/USA_264_DEB_(NOSS_3-7_(R))_multi_array.npy
resources/Fall_2021_2/USA_274_(NOSS_3-8_(A))_multi_array.npy
resources/Fall_2021_2/VEP_multi_array.npy
resources/Fall_2021_2/VIKING_multi_array.npy
resources/Fall_2021_2/WORLDVIEW_2_DEB_multi_array.npy
resources/Fall_2021_2/YAHSAT_1A_multi_array.npy
resources/Fall_2021_2/YAOGAN_1_DEB_multi_array.npy
resources/Fall_2021_2/YAOGAN_4_multi_array.npy
resources/Fall_2021_2/YAOGAN_6_multi_array.npy
resources/Fall_2021_2/YAOGAN_7_multi_array.npy
resources/Fall_2021_2/YAOGAN_11_multi_array.npy
resources/Fall_2021_2/YAOGAN_22_multi_array.npy
resources/Fall_2021_2/YUNHAI_1_multi_array.npy
resources/Fall_2021_2/YUNHAI_1-02_multi_array.npy
tensorboard/run/events.out.tfevents.1636465016.DESKTOP-GA51QDC.4364.30
tensorboard/run/events.out.tfevents.1636529488.DESKTOP-GA51QDC.10516.0
tensorboard/run/events.out.tfevents.1636530161.DESKTOP-GA51QDC.10516.1
tensorboard/run/events.out.tfevents.1636530259.DESKTOP-GA51QDC.10516.2
tensorboard/run/events.out.tfevents.1636530339.DESKTOP-GA51QDC.10516.3
tensorboard/run/events.out.tfevents.1636531393.DESKTOP-GA51QDC.10516.4
tensorboard/run/events.out.tfevents.1636531533.DESKTOP-GA51QDC.10516.5
tensorboard/run/events.out.tfevents.1636531797.DESKTOP-GA51QDC.10516.6
tensorboard/run/test/events.out.tfevents.1634037469.Malotraktor.22274.5
tensorboard/run/test/events.out.tfevents.1634037548.Malotraktor.22274.6
log/LOG_1634818386.log
log/LOG_1636366688.log
log/LOG_1636366729.log
log/LOG_1636366796.log
log/LOG_1636366810.log
log/LOG_1636366837.log
log/LOG_1636366863.log
log/LOG_1636366974.log
tensorboard/run/test/events.out.tfevents.1634037469.Malotraktor.22274.5
tensorboard/run/test/events.out.tfevents.1634037548.Malotraktor.22274.6
scr/preprocessing/__pycache__/__init__.cpython-38.pyc
scr/preprocessing/__pycache__/load_multi_array.cpython-38.pyc
scr/preprocessing/__pycache__/preprocessing.cpython-38.pyc
scr/utils/__pycache__/__init__.cpython-38.pyc
scr/utils/__pycache__/__init__.cpython-39.pyc
scr/utils/__pycache__/data_load.cpython-38.pyc
scr/utils/__pycache__/data_load.cpython-39.pyc
scr/utils/__pycache__/load_multi_array.cpython-38.pyc
scr/utils/__pycache__/load_multi_array.cpython-39.pyc
scr/utils/__pycache__/plot_light_curve.cpython-38.pyc
scr/utils/__pycache__/plot_light_curve.cpython-39.pyc
scr/notebooks/.ipynb_checkpoints/data_loaders-checkpoint.ipynb
scr/nn/__pycache__/__init__.cpython-39.pyc
scr/nn/__pycache__/config.cpython-39.pyc
scr/nn/__pycache__/dataset.cpython-39.pyc
scr/nn/__pycache__/net.cpython-39.pyc
scr/__pycache__/__init__.cpython-39.pyc
scr/utils/__pycache__/config.cpython-39.pyc
scr/utils/__pycache__/filters.cpython-39.pyc
resources/models/bin_filter_checkpoint_000.model
resources/models/bin_filter_checkpoint_001.model
resources/models/bin_filter_checkpoint_002.model
resources/models/bin_filter_checkpoint_003.model
resources/models/bin_filter2_checkpoint_000.model
resources/models/bin_filter2_checkpoint_001.model
resources/models/f_heavy_trained_checkpoint_000.model
resources/models/f_heavy_trained_checkpoint_001.model
resources/models/f_heavy_trained_checkpoint_002.model
resources/models/f_heavy_trained_checkpoint_003.model
resources/models/f_heavy_trained_checkpoint_004.model
resources/models/f_heavy_trained_checkpoint_005.model
scr/__pycache__/config.cpython-39.pyc
scr/__pycache__/train.cpython-39.pyc
scr/data/__pycache__/__init__.cpython-39.pyc
scr/data/__pycache__/data_load.cpython-39.pyc
scr/data/__pycache__/filters.cpython-39.pyc
scr/data/__pycache__/load_multi_array.cpython-39.pyc
scr/notebooks/plots/lc_atlas5.png
scr/notebooks/plots/lc_delta4.png
scr/notebooks/plots/lc_f2_atlas_5.png
scr/notebooks/plots/lc_f2_delta_4.png
scr/notebooks/plots/lc_f2_falcon_9.png
scr/notebooks/plots/lc_falcon9.png
scr/notebooks/plots/light_curves/asymetric/histogram_signal_ratio_asymetric.png
scr/notebooks/plots/light_curves/asymetric/lc_iridium.png
scr/notebooks/plots/light_curves/asymetric/lc_orbcomm.png
scr/notebooks/plots/light_curves/boxwing/histogram_signal_ratio_boxwing.png
scr/notebooks/plots/light_curves/boxwing/lc_astra.png
scr/notebooks/plots/light_curves/boxwing/lc_beidou.png
scr/notebooks/plots/light_curves/boxwing/lc_giove.png
scr/notebooks/plots/light_curves/boxwing/lc_intelsat.png
scr/notebooks/plots/light_curves/boxwing/lc_meteosat.png
scr/notebooks/plots/light_curves/boxwing/lc_navstar.png
scr/notebooks/plots/light_curves/cylinder/histogram_signal_ratio_cylinder.png
scr/notebooks/plots/light_curves/cylinder/lc_atlas_5.png
scr/notebooks/plots/light_curves/cylinder/lc_delta_4.png
scr/notebooks/plots/light_curves/cylinder/lc_falcon_9.png
tensorboard/run/events.out.tfevents.1646216849.DESKTOP-GA51QDC.8308.0
tensorboard/run/events.out.tfevents.1646217095.DESKTOP-GA51QDC.22864.0
tensorboard/run/events.out.tfevents.1646217128.DESKTOP-GA51QDC.18452.0
tensorboard/test/events.out.tfevents.1634037281.Malotraktor.22274.4
