.idea/.gitignore
.idea/dizertacka.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/webResources.xml
.idea/inspectionProfiles/profiles_settings.xml
.ipynb_checkpoints/README-checkpoint.md
.vscode/settings.json
resources/
tensorboard/
src/__pycache__/
src/data/__pycache__/
src/nn/__pycache__/
src/notebooks/.ipynb_checkpoints/
src/preprocessing/.ipynb_checkpoints/
output/
