.idea/
.ipynb_checkpoints/README-checkpoint.md
.vscode/settings.json
resources/
scr/__pycache__/config.cpython-39.pyc
scr/__pycache__/train.cpython-39.pyc
scr/data/__pycache__/
scr/notebooks/plots/
tensorboard/
output/
plots/
src/__pycache__/
src/data/__pycache__/
src/nn/__pycache__/
src/experiments/__pycache__/
